



<div class="container">
    <div class="row">
<section class="center slider" id="top-mainpage-carousel">
  {% if tours_data is defined and not empty %}
    {% for key,value in tours_data %}
      {% if value.active == true %}
    <div>
        <div class="card mb-2">
            <img class="card-img-top"
                 src="{{ value.image }}" alt="{{ value.title }}" >
            <div class="card-body">
                <h4 class="card-title">{{ value.title }}</h4>
                <p class="card-text">{{ value.text }}
                </p>
                <a class="btn btn-primary" href="{{ value.button.link }}">{{ value.button.text }}</a>
            </div>
        </div>
    </div>
      {% endif %}
    {% endfor %}
  {%  endif %}

</section>
</div>
</div>















